<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l5 m5 s12">
        <h5 class="white-text social-links">Social Media</h5>
        <img class="social-icon-facebook" src="/images/facebook.png">
        <p class="social-links">Facebook</p>
        <img class="social-icon-twitter" src="/images/twitter.png">
        <p class="social-links">Twitter</p>
        <img class="social-icon-linkedin" src="/images/linkedin.png">
        <p class="social-links-final">LinkedIn</p>
      </div>

      <div class="col l2 hide-on-small-and-down">
      </div>

      <div class="col l5 m5 s12 right-align bottom-pad">
        <h5 class="white-text social-links">Contributors</h5>
        <p class="social-links">Torrey Smith</p>
        <p class="social-links">Mitch Lembke</p>
        <p class="social-links-final">Nathan Burgo</p>
      </div>
    </div>
  </div>
</footer>

<!-- SCRIPT TAGS BEING USED -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
<script src="vis/dist/vis.js"></script>
