<title><%= title %></title>
<link rel='icon' href='images/favicon.ico' type='image/x-icon'/ >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/foot.css">
<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
<link href="/vis/dist/vis.css" rel="stylesheet" type="text/css" />
