<title><%= title %></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.css">
<link href="/vis/dist/vis.css" rel="stylesheet" type="text/css" />
