<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo"><img class="logo" src="/images/finishit-white.png"></a>
    </div>
  </nav>
</div>
