<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo">fs</a>
      <ul class="right hide-on-med-and-down nav-links">
        <li class="nav-item" id="login"><a href="/login#login-collapsible">Login</a></li>
        <li class="nav-item" id="login"><a href="/login#signup-collapsible">Signup</a></li>
      </ul>
    </div>
  </nav>
</div>
