<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo"><img class="logo" src="/images/finishit-bold.png"></a>
      <ul class="right hide-on-med-and-down nav-links">
        <li class="nav-item"><a href="/login">Signup</a></li>
        <li class="nav-item"><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
