<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo">fs</a>
      <ul class="right hide-on-med-and-down nav-links">
        <li class="nav-item"><a href="#">Support</a></li>
      </ul>
    </div>
  </nav>
</div>
