<!-- MODALS -->

<!-- EDIT MODAL -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h5>Edit this project?</h5>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">No</a>
    <a id="yes-edit" class="modal-action modal-close waves-effect btn-flat">Yes</a>
  </div>
</div>
<!-- END OF EDIT MODAL -->

<!-- DELETE MODAL -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h5>Delete this project?</h5>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close btn-flat">No</a>
    <a id="yes-delete" class="modal-action modal-close btn-flat">Yes</a>
  </div>
</div>
<!-- END OF DELETE MODAL -->

<!-- NEW PROJECT MODAL -->
<div id="modal3" class="modal">
  <div class="modal-content">
    <h5 class="timeline-name">TIMELINE NAME:</h5>
    <span id="timeline-name-error"></span>
    <span id="timeline-name-length-error"></span>
    <div class="new-timeline-name">
      <input id="new-timeline-name" type="text" name="timeline-name">
      <p class="description">DESCRIPTION:</p>
      <span id="description-error"></span>
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <p class="group-members">GROUP MEMBERS (EMAIL): </p>
      <span id="group-members-email-error"></span>
      <div class="chips">
        <input class="group-emails custom-class">
      </div>
      <p class="timeline-duration">TIMELINE DURATION:</p>
      <div class="checkboxes">
          <p>
          <label>
            <input type="radio" class="filled-in" name="group1" value="DAY" checked/>
            <span>DAY</span>
          </label>
          <label>
            <input type="radio" class="filled-in" name="group1" value="WEEK"/>
            <span>WEEK</span>
          </label>
          <label>
            <input type="radio" class="filled-in" name="group1" value="MONTH"/>
            <span>MONTH</span>
          </label>
          <label>
            <input type="radio" class="filled-in" name="group1" value="YEAR"/>
            <span>YEAR</span>
          </label>
        </p>
      </div>
      <p class="start-date-title">START DATE:</p>
      <input id="start-date" type="date">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close btn-flat cancel-button">CANCEL</a>
      <a class="modal-action modal-close btn-flat create-button" disabled>CREATE</a>
    </div>
  </div>
</div>
<!-- END OF NEW PROJECT MODAL -->


<!-- NEW EVENT(S) MODAL -->
<div id="event-modal" class="modal">
  <div class="modal-content">
    <form class="form" id="signup-form" method="post">
      <label class="event-name-label" for="new-event-name">EVENT NAME:</label><br>
      <span class="event-error new-event-form-name-error"></span>
      <input max="30" type="text" id='new-event-name' name="new-event-name" required><br>

      <label class="description-name-label" for="new-event-description">DESCRIPTION:</label><br>
      <span class="new-event-error new-event-description-error"></span>
      <input type="text" id='new-event-description' name="new-event-description" required><br>

      <label class="start-date-label" for="new-event-start-date">START DATE:</label>
      <span class="new-event-error new-event-start-date-error"></span>
      <input type="date" id="new-event-start-date" name="new-event-start-date">

      <label class="start-time-label" for="new-event-start-time">START TIME:</label>
      <span class="new-event-error new-event-start-time-error"></span>
      <input type="time" id="new-event-start-time" name="new-event-start-time">

      <br>

      <label class="end-date-label" for="new-event-end-date">END DATE:</label>
      <span class="new-event-error new-event-end-date-error"></span>
      <input type="date" id="new-event-end-date" name="new-event-end-date">

      <label class="end-time-label" for="new-event-end-time">END TIME:</label>
      <span class="new-event-error new-event-end-time-error"></span>
      <input type="time" id="new-event-end-time" name="new-event-end-time" required>

      <br>

      <input type="submit" id='new-event-submit-button' class="modal-action modal-close btn" value="ADD EVENT">
      <span class="new-event-error" id="general-new-event-error"></span>
    </form>
  </div>
</div>
  <!-- END OF NEW EVENT(S) MODAL -->

  <!-- BEGIN EVENT DESCRIPTION MODAL -->
  <div id="event-description-modal" class="modal">
    <div class="modal-content">
      <div class="description">
        <h5 class="event-modal-header">Description</h3>
        <div id="event-description">
        </div>
      </div>
    </div>
  </div>
