<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
  <body>
    <% include partials/landing-top-nav %>
    <div class="parallax-container">
      <div class="parallax">
        <img class="body-background" src="/images/background.png">
      </div>
      <div class="section">
        <div class="row header-valign left-pad">
            <img class="body-logo" src="/images/finishit-white.png">
            <p class="body-subtext">A place to log and track your to-dos</p>
        </div>
        <div class="row center header-valign-buttons">
            <button class="body-button1 btn">LOGIN</button><button class="body-button2 btn">SIGNUP</button>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="container">
          <h4 class="center">Create interactive timelines to plan your course of action</h2>
            <div id="visualization"></div>
        </div>
      </div>
    </div>

    <div class="parallax-container">
      <div class="parallax">
        <img class="body-background" src="/images/background.png">
      </div>
      <div class="section">
        <div class="row header-valign">
          <h3 class="mission-statement">Mission statement here.</h3>
        </div>
      </div>
    </div>

      <% include partials/footer %>
      </body>
</html>
