<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
</head>
  <body>
    <div class="navbar-fixed">
      <nav class="black" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="index.html" class="brand-logo"><img class="logo" src="/images/finishit-white.png"></a>
          <ul class="right hide-on-med-and-down nav-links">
            <li class="nav-item"><a href="html/comics.html">Signup</a></li>
            <li class="nav-item"><a href="html/events.html">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="parallax-container">
      <div class="parallax" style="background-color:grey">

      </div>
      <div class="section">
        <div class="row header-valign left-pad">
            <img class="body-logo" src="/images/finishit-white.png">
            <p class="body-subtext">A place to log and track your to-dos</p>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
  </body>
</html>
