<!DOCTYPE html>
<html>
<head>
  <% include partials/header %>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
  <body>
    <% include partials/landing-top-nav %>
    <div class="parallax-container">
      <div class="parallax">
        <img class="body-background" src="/images/background.png">
      </div>
      <div class="section">
        <div class="row header-valign left-pad">
            <img class="body-logo" src="/images/finishit-white.png">
            <p class="body-subtext">A place to log and track your to-dos</p>
        </div>
        <div class="row center header-valign-buttons">
            <button class="body-button1 btn">LOGIN</button><button class="body-button2 btn">SIGNUP</button>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="container">
          <h4 class="center">Create interactive timelines to plan your course of action</h2>
            <div id="visualization"></div>
        </div>
      </div>
    </div>

    <div class="parallax-container">
      <div class="parallax">
        <img class="body-background" src="/images/background.png">
      </div>
      <div class="section">
        <div class="row header-valign">
          <h3 class="mission-statement">Mission statement here.</h3>
        </div>
      </div>
    </div>

    <footer class="page-footer black">
       <div class="container">
         <div class="row">
           <div class="col l5 s12">
             <h5 class="white-text social-links">Social Media</h5>
             <img class="social-icon-facebook" src="/images/facebook.png"><p class="social-links">Facebook</p>
             <img class="social-icon-twitter" src="/images/twitter.png"><p class="social-links">Twitter</p>
             <img class="social-icon-linkedin" src="/images/linkedin.png"><p class="social-links-final">LinkedIn</p>
           </div>

           <div class="col l2 hide-on-small-and-down">
           </div>

           <div class="col l5 s12 right-align bottom-pad">
             <h5 class="white-text social-links">Contributors</h5>
             <p class="social-links">Torrey Smith</p>
             <p class="social-links">Mitch Lembke</p>
             <p class="social-links-final">Nathan Burgo</p>
           </div>
         </div>
       </div>
     </footer>
      <% include partials/footer %>
      </body>
</html>
