<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/login-signup.css">
</head>

<body>
  <header>
    <% include partials/login-signup-nav %>
  </header>
  <main class='valign-wrapper'>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header">LOGIN</div>
        <div class="collapsible-body">
          <form class="form" id='login-form' action="#" method="post">

            <label for="username">USERNAME:</label>
            <input type="text" id='username' name="username" required>

            <label for="password">PASSWORD:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" id='login-submit-button' class='btn waves-effect waves-light' value='Login'>
          </form>
        </div>
      </li>
      <li>
        <div class="collapsible-header">SIGNUP</div>
        <div class="collapsible-body">
          <form class="form" id='signup-form' action="#" method="post">

            <label for="username">USERNAME:</label>
            <input type="text" id='username' name="username" required>

            <label for="email">EMAIL:</label>
            <input type="email" id='email' name="email" required>

            <label for="password">PASSWORD:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">CONFIRM PASSWORD:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <input type="submit" id='signup-submit-button' class='btn waves-effect waves-light' value='Signup'>
          </form>
        </div>
      </li>
    </ul>
  </main>

  <% include partials/footer %>
  <script type="text/javascript" src="javascript/login-signup.js"></script>
</body>

</html>
