<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/login-signup.css">
</head>

<body>
  <header>
    <% include partials/login-signup-nav %>
  </header>
  <main class='valign-wrapper'>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header" id="login-collapsible">LOGIN</div>
        <div class="collapsible-body">
          <form class="form" id='login-form' method="post">

            <label for="username-login">USERNAME:</label>
            <span class="signup-error login-form-username-error"></span>
            <input type="text" id='username-login' name="usernameLogin" required>

            <label for="password-login">PASSWORD:</label>
            <input type="password" id="password-login" name="passwordLogin" required>

            <input type="submit" id='login-submit-button' class='btn waves-effect waves-light' value='Login'>
          </form>
        </div>
      </li>
      <li>
        <div class="collapsible-header" id="signup-collapsible">SIGNUP</div>
        <div class="collapsible-body">
          <form class="form" id="signup-form" method="post">
            <label for="username-signup">USERNAME:</label>
            <span class="signup-error signup-form-username-error"></span>
            <input min="8" max="30" type="text" id='username-signup' name="usernameSignup" required>

            <label for="email-signup">EMAIL:</label>
            <span class="signup-error signup-form-email-error"></span>
            <input type="email" id='email-signup' name="emailSignup" required>

            <label for="password-signup">PASSWORD:</label>
            <span class="signup-error signup-form-password-error"></span>
            <input min="8" max="30" type="password" id="password-signup" name="passwordSignup" required>

            <label for="confirm-password-signup">CONFIRM PASSWORD:</label>
            <span class="signup-error signup-form-password-error"></span>
            <input min="8" max="30" type="password" id="confirm-password-signup" name="confirmPasswordSignup" required>

            <button id='signup-submit-button' class='btn waves-effect waves-light'> Signup </button>
            <span class="signup-error" id="general-error"></span>
          </form>
        </div>
      </li>
    </ul>
  </main>

  <% include partials/footer %>
  <script type="text/javascript" src="javascript/signup.js"></script>
  <script type="text/javascript" src="javascript/login.js"></script>
</body>

</html>
