<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link href="/vis/dist/vis.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/timeline.css">
  </head>
  <body>
    <% include partials/home-top-nav %>
    <main>
      <div class="container">
        <div class="row">
          <h1><%= title %></h1>
          <div id="visual"></div>
        </div>
      </div>
    </main>
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <div class="col l5 m5 s12">
            <h5 class="white-text social-links-head">Social Media</h5>
            <br>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//mtn-finishit.herokuapp.com/" target="_blank" class="clickables">
              <i class="fab fa-facebook pad"></i>
              <p class="social-links pad">Facebook</p>
            </a>
            <br>
            <a href="https://twitter.com/home?status=https%3A//mtn-finishit.herokuapp.com/" target="_blank" class="clickables">
              <i class="fab fa-twitter-square pad"></i>
              <p class="social-links clickables pad">Twitter</p>
            </a>
            <br>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=mtn-finishit.herokuapp.com/&title=finishit%20Progress%20Tracker
    &summary=Check%20out%20this%20cool%20website&source=LinkedIn" target="_blank" class="clickables">
              <i class="fab fa-linkedin pad"></i>
              <p class="social-links clickables pad">LinkedIn</p>
            </a>
          </div>

          <div class="col l2 hide-on-small-and-down">
          </div>

          <div class="col l5 m5 s12 right-align">
            <h5 class="white-text social-links-head">Contributors</h5>
            <br>
            <a href="https://www.linkedin.com/in/therealtorreysmith/" target="_blank" class="clickables">
              <p class="social-links clickables pad">Torrey Smith</p>
              <i class="far fa-user pad"></i>
            </a>
            <br>
            <a href="https://www.linkedin.com/in/mitchell-lembke/" target="_blank" class="clickables">
              <p class="social-links clickables pad">Mitch Lembke</p>
              <i class="far fa-user pad"></i>
            </a>
            <br>
            <a href="https://www.linkedin.com/in/nathan-burgo" target="_blank" class="clickables">
              <p class="social-links clickables pad">Nathan Burgo</p>
              <i class="far fa-user pad right-pad"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPT TAGS BEING USED -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
    <script src="../../vis/dist/vis.js"></script>
    <script src="/javascript/timeline.js"></script>
  </body>
</html>
