<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link href="/vis/dist/vis.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>
  <body>
    <% include partials/home-top-nav %>
    <main>
      <div class="container">
        <div class="row">
          <h1><%= title %></h1>
          <div id="visual"></div>
        </div>
      </div>
    <% include partials/modals %>
    </main>
    <% include partials/footer %>
    <script src="/javascript/timeline.js"></script>
    <script type="text/javascript" src="javascript/home.js"></script>
  </body>
</html>
