footer {
  padding:0;
}

.social-icon-facebook {
  max-width:15px;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 4px;
  float: left;
}

.social-icon-twitter {
  max-width:25px;
  float: left;
}

.social-icon-linkedin {
  max-width:18px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}

.social-links {
  margin: 5px;
  font-family: 'Lato', sans-serif;
}

.clickables:hover {
  cursor: pointer;
  color: #00aff0;
}

.social-links-final {
  margin-bottom: 10px;
  margin-top: 0px;
  margin-right: 5px;
  font-family: 'Lato', sans-serif;
}

.bottom-pad {
  margin-bottom: 20px;
}

footer .row .col.s12 {
  width: 50%;
}
