footer {
  padding:0;
}

.social-links {
  font-family: 'Lato', sans-serif;
  display: inline;
}

.social-links-head {
  text-decoration: underline;
  display: inline;
}

.clickables {
  color: white;
}

.clickables:hover {
  cursor: pointer;
  color: #00aff0;
}

.pad {
  padding: 5px 0px;
}

.right-pad {
  padding-right: 4px;
}


.bottom-pad {
  margin-bottom: 20px;
}

footer .row .col.s12 {
  width: 50%;
}
