/* HOME DROPDOWN */
#search {
  background-color: white;
}

.hamburger-menu {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  left: 25px;
}

.hamburger-menu:hover {
  cursor: pointer;
  color: #00aff0;
}

.dropdown-trigger {
  height: 30px;
  margin-top: 17px;
  margin-left: 30px;
}

.dropdown-content li > a {
  color: white;
  background-color: black;
  font-family: 'Lato', sans-serif;
}

.dropdown-content li > a:hover {
  background-color: #00aff0;

}

.nav-wrapper .input-field input[type=search] {
  height: 30px;
  margin-top: 17px;
  padding-left: 16px;
  margin-left: 64px;
}

.input-field input[type=search] ~ .material-icons {
  cursor: pointer;
  right: -22px;
  color: black;
  top: -16px;
}

.input-field input[type=search] ~ .material-icons:active {
transform: translateY(1px);
}


/* HOME DISPLAY TIMELINE */
.default-timeline {
  border: 1px solid black;
  height: 350px;
  margin-top: 30px;
}

.default-timeline-image {
  height: 348px;
  width: 348px;
}


/* CAROUSEL */
.timeline-carousel {
  background-color: black;
  margin-bottom: 10px;
  height: 320px;
}

.btn.edit-button,
.btn.delete-button {
  background-color: black;
  font-family: 'Lato', sans-serif;
}

.btn.edit-button:hover,
.btn.delete-button:hover {
  background-color: black;
}

.btn.edit-button:focus {
  background-color: black;
}

.btn.darken-text-2{
  background-color: black;
  font-family: 'Lato', sans-serif;
}

.btn:active {
  transform: translateY(1px);
}

.btn:hover {
  background-color: #00aff0;
}

.btn-small {
  margin: 10px 0px;
  background-color: black;
  font-family: 'Lato', sans-serif;
}

.btn-small:focus {
  background-color: black;
}

.btn-small:active {
  transform: translateY(1px);
}

.btn-small:hover {
  background-color: #00aff0;
}



/* CARD FLIP */
.time-container {
  cursor: pointer;
  height: 200px;
  perspective: 600;
  position: relative;
  width: 200px;
}
.time {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.time:hover {
  transform: rotateY(180deg);
}

.time .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: #eaeaed;
  text-align: center;
}

.time .back {
  background: #00aff0;
  color: #eaeaed;
  line-height: 96px;
  transform: rotateY(180deg);
}
