/* .parallax-container .parallax img { */
  opacity: 100 !important;
}

.body-logo {
  max-width: 400px;
}

.left-pad {
  padding-left: 10%;
}

.header-valign {
	float: left;
	width:100%;
	position:absolute;
	top: 45%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}

.body-buttons {
  margin-top: 50px;
}

.body-subtext {
  color: white;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 20px;
  font-family: 'Arial Narrow', sans-serif;
}

.body-button1 {
  font-size: 18px;
  margin-right: 5px;
  background-color: black;
  width: 105px;
  height: 45px;
  font-weight: bold;
}

.body-button1:hover {
  background-color: #00aff0;
}

.body-button2 {
  font-size: 18px;
  margin-left: 5px;
  background-color: black;
  width: 105px;
  height: 45px;
  font-weight: bold;
}

.body-button2:hover {
  background-color: #00aff0;
}

#visualization {
  position: relative;
}

.vis-button {
  background-color: black;
  color: white;
  border: 0px;
  font-family: 'Lato', sans-serif;
  height: 30px;
}

.menu {
  position: absolute;
  top: 0;
  right: 150px;
  margin: 10px;
  z-index: 100;
}


.vis-timeline {
  border: 3px solid #0380f5;
  border-radius: 900px;
  /* box-shadow: 5px 10px; */
  font-family: 'Arial Narrow';
  font-size: 12px;
  background: #00aff0;
  opacity: .7;
  color: white;
}

.vis-item,
.vis-item.vis-line {
  border: 3px solid black;;
  background-color: black;
  opacity: 0.9;
  height: 60px;
}

.vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}

.vis-title {
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 0px;
}

.vis-time-axis .vis-text {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.mission-statement {
  text-align: center;
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
