.parallax-container .parallax img {
  opacity: 100 !important;
}

.body-logo {
  max-width: 400px;
}

.left-pad {
  padding-left: 10%;
}

.header-valign {
	float: left;
	width:100%;
	position:absolute;
	top: 45%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}

.header-valign-buttons {
  float: left;
	width:100%;
	position:absolute;
	top: 80%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}

.body-subtext {
  color: white;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 20px;
  font-family: 'Arial Narrow', sans-serif;
}

.body-button1 {
  font-size: 18px;
  margin-right: 5px;
  background-color: #00aff0;
  width: 105px;
  height: 45px;
  font-weight: bold;
}

.body-button1:hover {
  background-color: #75bfff;
}

.body-button2 {
  font-size: 18px;
  margin-left: 5px;
  background-color: #00aff0;
  width: 105px;
  height: 45px;
  font-weight: bold;
}

.body-button2:hover {
  background-color: #75bfff;
}

.mission-statement {
  text-align: center;
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
