body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/images/background.png");
}

main {
  flex: 1 0 auto;
  justify-content: center;
}

.collapsible {
  width: 60%;
  font-family: 'Lato', sans-serif;
}

.collapsible input,
.collapsible label {
  color: white;
  font-size: 1.1em;
  cursor:pointer;
}



.collapsible-header {
  font-size: 1.5em;
  letter-spacing: 5px;
  justify-content: center;
}

.collapsible-header:focus {
  outline:none;
}

.btn {
  color: white !important;
  background-color: #00aff0;
}

.btn:focus {
  color: white !important;
  background-color: #00aff0;
}

.signup-error {
  color: tomato;
  margin-left: 1em;
}
