body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  justify-content: center;
}

.collapsible {
  width: 60%;
  font-family: 'Lato', sans-serif;
}

.collapsible-header {
  letter-spacing: 5px;
  justify-content: center;
}

.collapsible-header:focus {
  outline:none;
}

.btn {
  color: white !important;
}
