/* MODALS */

.modal-action {
  background: black;
  color: white;
  font-family: 'Lato', sans-serif;
}

.modal-action:hover {
  background-color: #00aff0;
}

.modal-action:active {
transform: translateY(1px);
}

.modal-content {
  text-align: center;
}

#modal1 {
  margin-top: 50px;
}

#modal2 {
  margin-top: 50px;
}

#modal3 {
  margin-top: 10px;
  max-height: 100%;
}

.new-timeline-name {
  margin: 0px 120px;
}

#timeline-name-error {
  color: tomato;
}

#timeline-name-length-error {
  color: tomato;
}

#description-error {
  color: tomato;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
}

[type="radio"].filled-in:checked +
span:not(.lever):after {
  border: 2px solid #00aff0;
  background-color: #00aff0;
}

label {
  color: black;
}

[type="radio"] + span:not(.lever) {
  padding-left: 25px;
  padding-right: 20px;
}

.timeline-duration {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
}

.timeline-name {
  margin-bottom: 0px;
  margin-top: 0px;
}

.description {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  margin-top: 5px;
}

.group-members {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  margin-top: 0px;
}


.chip:focus {
  background-color: #00aff0;
}

div.chips.input-field {
  margin-top: 0px;
}

.chips .input {
  color: black;
  width: 250px !important;
}

.chips.focus {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
  box-shadow: 0 1px 0 0 #00aff0;
}

input:not([type]):focus:not([readonly]) {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
  box-shadow: 0 1px 0 0 #00aff0;
  font-family: 'Lato', sans-serif;
}

.chip {
  background-color: #00aff0;
  color: white;
}

.start-date-title {
  margin: 0px;
}

#start-date {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
  box-shadow: 0 1px 0 0 #00aff0;
}

.new-event-error {
  color: tomato;
}

@media (min-width: 768px) {

  #new-event-start-date,
  #new-event-end-date
   {
    display: inline-block;
    margin: 0 .5em;
    width: 25%;
  }

  #new-event-submit-button {
    margin-top: 2em;
    margin-bottom: .7em;
  }
}

@media (min-width: 768px) {

  #new-event-start-time,
  #new-event-end-time
   {
    display: inline-block;
    margin: 0 .5em;
    width: 17%;
  }

}

@media (max-width: 767px) {

  #new-event-start-date,
  #new-event-end-date
   {
    display: inline-block;
    margin: 0 .5em;
    width: 90%;
  }

  #new-event-submit-button {
    margin-top: 2em;
    margin-bottom: .7em;
  }
}


@media (max-width: 767px) {

  #new-event-start-time,
  #new-event-end-time
   {
    display: inline-block;
    margin: 0 .5em;
    width: 90%;
  }

}


input[type=email]:not(.browser-default):focus:not([readonly]) + label {
  color:white;
}

input[type=password]:not(.browser-default):focus:not([readonly]) + label {
  color:white;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color:white;
}

.event-name-label  {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.description-name-label {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly])  {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
  box-shadow: 0 1px 0 0 #00aff0;
}


input[type=date]:not(.browser-default):focus:not([readonly]) + label {
  color: black;
}

#event-modal {
  max-height: 70%;
}

input[type=text]:not(.browser-default) {
  width: 70%;
}

input[type=time]:not(.browser-default) {
  width: 70%;
}

.end-time-label, .end-date-label,
.start-time-label, .start-date-label {
  font-size: 12px !important;
  font-family: 'Lato', sans-serif !important;
}

#general-new-event-error {
  display: block;
  color: tomato !important;
  margin: 1em;
}

.new-event-form-name-error {
  color: tomato !important;
  margin: 1em;
  display: block;
}
