/* MODALS */

.modal-action {
  background: black;
  color: white;
  font-family: 'Lato', sans-serif;
}

.modal-action:hover {
  background-color: #00aff0;
}

.modal-action:active {
transform: translateY(1px);
}

.modal-content {
  text-align: center;
}

#modal1 {
  margin-top: 50px;
}

#modal2 {
  margin-top: 50px;
}

#modal3 {
  margin-top: 50px;
}

.new-timeline-name {
  margin: 0px 120px;
}

#timeline-name-error {
  color: tomato;
}

#timeline-name-length-error {
  color: tomato;
}

#description-error {
  color: tomato;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
}

[type="radio"].filled-in:checked +
span:not(.lever):after {
  border: 2px solid #00aff0;
  background-color: #00aff0;
}

label {
  color: black;
}

[type="radio"] + span:not(.lever) {
  padding-left: 25px;
  padding-right: 20px;
}

.timeline-duration {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
}

.timeline-name {
  margin-bottom: 0px;
  margin-top: 0px;
}

.description {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  margin-top: 5px;
}

.group-members {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  margin-top: 0px;
}

.chip:focus {
  background-color: #00aff0;
}

div.chips.input-field {
  margin-top: 0px;
}

.chips .input {
  color: black;
  width: 250px !important;
}

.chips.focus {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
  box-shadow: 0 1px 0 0 #00aff0;
}

input:not([type]):focus:not([readonly]) {
  border-bottom: 1px solid #00aff0;
  -webkit-box-shadow: 0 1px 0 0 #00aff0;
  box-shadow: 0 1px 0 0 #00aff0;
  font-family: 'Lato', sans-serif;
}

.chip {
  background-color: #00aff0;
  color: white;
}
